## 데이터 로드

In [7]:

import pandas as pd

# Load the data
# 수치형 및 평점 추가된 데이터
data = pd.read_csv('국민여행조사데이터_20230724.csv')

# Display the first few rows of the data
data.head()

            시군구 동반자유형  만족도  재방문의도  타인추천의도 성별     연령대        평점  법정동코드
0   강원특별자치도 삼척시    가족    5      4       4  여  15~19세  5.266667  42230
1  제주특별자치도 서귀포시    가족    5      5       5  여     30대  6.166667  50130
2   강원특별자치도 강릉시    가족    5      5       4  남     30대  5.666667  42150
3   강원특별자치도 강릉시   비가족    5      5       4  남     50대  5.666667  42150
4   강원특별자치도 춘천시   비가족    5      4       3  남     40대  4.766667  42110

In [1]:
import pandas as pd

# Load the data
data = pd.read_csv('국민여행조사데이터_20230724.csv')

# Calculate the correlation between the three factors
correlation = data[['만족도', '재방문의도', '타인추천의도']].corr()
correlation

C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

             만족도     재방문의도    타인추천의도
만족도     1.000000  0.524553  0.473374
재방문의도   0.524553  1.000000  0.578218
타인추천의도  0.473374  0.578218  1.000000

## 추천 함수 구현

In [8]:

import random

def recommend_places(data, gender, age, companion):
    # Filter data based on the input
    filtered_data = data[(data['성별'] == gender) & 
                         (data['연령대'] == age) & 
                         (data['동반자유형'] == companion)]
    
    # Sort by rating and select top 15
    top_places = filtered_data.sort_values('평점', ascending=False).head(15)
    
    # Randomly select 5 places
    recommended_places = top_places.sample(5)
    
    return recommended_places

## 함수 테스트

In [12]:

# Test the function
recommended_places = recommend_places(data, '여', '20대', '가족')
recommended_places_cities = recommended_places['시군구'].tolist()
recommended_places_cities

['광주광역시 서구', '전라북도 무주군', '강원특별자치도 양양군', '강원특별자치도 강릉시', '전라북도 군산시']

In [5]:
# import pandas as pd

# # 파일 경로 설정
# file_path = "법정동코드_시군구2.csv"

# # CSV 파일 불러오기
# df = pd.read_csv(file_path, encoding='cp949')

# # 시군구 column의 앞뒤 빈칸 제거
# df['시군구'] = df['시군구'].str.strip()

# # 변경된 DataFrame을 다시 CSV 파일로 저장 (덮어씌우기)
# df.to_csv(file_path, index=False, encoding='utf-8-sig')

# print("시군구 column의 앞뒤 빈칸 제거 및 덮어씌우기가 완료되었습니다.")

시군구 column의 앞뒤 빈칸 제거 및 덮어씌우기가 완료되었습니다.

In [6]:
# import pandas as pd

# # 파일명과 경로 설정
# input_file = "국민여행조사데이터_전처리완료_가중치적용.csv"
# output_file = "국민여행조사데이터_20230724.csv"

# # CSV 파일 읽기
# df = pd.read_csv(input_file)

# # "동반자유형" column 값에 "가족"이 포함되어 있는지 확인하여 가족/비가족으로 값을 변경
# df["동반자유형"] = df["동반자유형"].apply(lambda x: "가족" if "가족" in x else "비가족")

# # 변경된 데이터를 새로운 CSV 파일로 저장 (utf-8-sig 인코딩)
# df.to_csv(output_file, index=False, encoding='utf-8-sig')

# print(f"{output_file} 파일이 저장되었습니다.")

국민여행조사데이터_20230724.csv 파일이 저장되었습니다.

In [20]:
import pandas as pd

# Load the data
data = pd.read_csv('국민여행조사데이터_20230724.csv')

# Display the first 5 row
data.head()

            시군구 동반자유형  만족도  재방문의도  타인추천의도 성별     연령대        평점  법정동코드
0   강원특별자치도 삼척시    가족    5      4       4  여  15~19세  5.266667  42230
1  제주특별자치도 서귀포시    가족    5      5       5  여     30대  6.166667  50130
2   강원특별자치도 강릉시    가족    5      5       4  남     30대  5.666667  42150
3   강원특별자치도 강릉시   비가족    5      5       4  남     50대  5.666667  42150
4   강원특별자치도 춘천시   비가족    5      4       3  남     40대  4.766667  42110

In [18]:
# 최종 코드

import pandas as pd
import random

# Load the data
data = pd.read_csv('국민여행조사데이터_20230724.csv')

def recommend_places(data, gender, age, companion):
    # Filter data based on the input
    filtered_data = data[(data['성별'] == gender) & 
                         (data['연령대'] == age) & 
                         (data['동반자유형'] == companion)]
    
    # Sort by rating and select top 15
    top_places = filtered_data.sort_values('평점', ascending=False).head(15)
    
    # Randomly select 5 places
    recommended_places = top_places.sample(5)
    
    return recommended_places

# Test the function
recommended_places = recommend_places(data, '남', '20대', '비가족')
recommended_places_cities = recommended_places['시군구'].tolist()
recommended_places_cities

['강원특별자치도 춘천시', '경기도 양평군', '강원특별자치도 양양군', '서울특별시 중랑구', '강원특별자치도 강릉시']